html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/* ---------- FOCUS ---------- */

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

/* ---------- GLOBAL UI ---------- */

.card {
    border-radius: 10px;
}

.form-control {
    border-radius: 8px;
}

.btn {
    border-radius: 8px;
}

/* ---------- DATATABLE LAYOUT ---------- */

.dataTables_wrapper .dataTables_length {
    display: flex;
    align-items: center;
    gap: 8px;
}

    /* ---------- DROPDOWN ---------- */

    .dataTables_wrapper .dataTables_length select {
        border: 1px solid #0dcaf0;
        border-radius: 6px
